@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url("https://fonts.googleapis.com/css?family=Niramit");
:root {
  --alizarin-crimson:#E32636;
  --sap-green:#0A3410;
  --van-dyke-brown:#221B15;
  --shadow-fang-black:rgba(25,25,25,0.25);
}
body {
  max-width:1080px;
  margin:0px auto;
  background: #FAFAFA;
  font-family:Niramit;
}
#table-titles {
  height: 70px;
  margin-right:1rem;
  font-weight: bold;
}
/* chevron stuff :: https://codepen.io/egf/pen/jzylw*/
.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}
.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

/*! CSS Used from: Embedded */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
@media print{
  *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
  font-family:monospace;text-align:center;
  font-size:16px;
}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a,a:visited{text-decoration:none;}
a:focus,a:hover{color:#23527c;cursor:pointer;opacity:0.5;-webkit-transform:scale(1.1) 0.2s ease;transform:scale(1.1) 0.2s ease;animation:bubble 1.0s forwards;-webkit-animation:bubble 1.0s forwards;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
*{-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
::-webkit-scrollbar{width:0.5em;height:0.5em;}
::-webkit-scrollbar-thumb{background:slategray;}
::-webkit-scrollbar-track{background:#b8c0c8;}

.file-title {
  text-align:left;
}
