
@import url("https://fonts.googleapis.com/css?family=Niramit");

:root {
  --alizarin-crimson:#E32636;
  --sap-green:#0A3410;
  --van-dyke-brown:#221B15;
}
body {
  max-width:1080px;
  margin:0px auto;
  background: #FAFAFA;
  font-family:Niramit;
}

#table-titles {
  height: 70px;
  margin-right:18px;
  font-weight: bold;
}
