
cdk-virtual-scroll-viewport {
  height: 50vh;min-height:100%;display:block;
}

li span.chevron {
  margin-top:6px;
  opacity:0;
  transition: opacity 200ms;
  width:100%;
}
li span.chevron.active {
  opacity:1;
  transition: opacity 200ms;
}
li span:hover .chevron {
  opacity:1;
  transition: opacity 100ms;
}
li:hover {
  transition: all 100ms;
  text-shadow: var(--van-dyke-brown) 0px 0px 2px;
  cursor:pointer;
}
li:first-child:hover {
  transition: all 200ms;
  cursor:pointer;
}
li:first-child span:hover {
  transition: all 100ms;
  text-shadow: var(--alizarin-crimson) 0px 0px 2px;
  cursor:pointer
}
li {
  text-shadow: rgba(25,25,25,0.25) 0px 0px 2px;
  padding-top:2px;
  padding-bottom:2px;
  margin:0px auto;
  list-style: none;
  width:100%;
  font-size:1.2rem;
  transition: all 500ms;
}
li:first-child{
}
li a {
  text-decoration: none;
  width:100%;
  display:block;
}
li a:hover {
  outline:1px solid rgba(25,25,25,0.01);
}
li span {
  width:25%;
  display:inline-block;
  text-align:center;
  max-height:37px;
}

li {
  span:not(.table-title) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/* chevron stuff :: https://codepen.io/egf/pen/jzylw*/
.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}
.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
.table-title {
  //user-select: none;
  font-size:1.3rem;
  //white-space:initial;
  //overflow: inherit;
  //text-overflow: ellipsis;

}
